# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000

# Better Auth Configuration
BETTER_AUTH_SECRET=087aaf2a44efe95bf4b3a720bb2d9b5400a6b4383dfc2e0f8d9c9fd402e1a67a
BETTER_AUTH_URL=http://localhost:3000

# Database (for Better Auth)
DATABASE_URL= postgresql://neondb_owner:npg_4fxUsl9DSrOc@ep-twilight-darkness-a1f6k2ip-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Environment
NODE_ENV=development
